<h1>
  Vehicle Quotation Request
</h1>
<mat-horizontal-stepper linear #stepper (selectionChange)="stepSelectionChange($event)">
  <mat-step [stepControl]="customerComponent.myForm">
    <ng-template matStepLabel>Customer</ng-template>
    <vi-customer #customerComponent></vi-customer>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Vehicles</ng-template>
    <vi-vehicle></vi-vehicle>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Quote Ready</ng-template>
    <quote-result #quoteResultComponent></quote-result>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>