.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-card {
  max-width: 400px;
  align-self: center;
  vertical-align: center;
}

.example-header-image {
  background-image: url('../../../assets/customer.png');
  background-size: cover;
}