<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>About You</mat-card-title>
    <mat-card-subtitle>Customer Info</mat-card-subtitle>
  </mat-card-header>
  <form  #myForm="ngForm" (ngSubmit)="createCustomer()" novalidate>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="First Name" required [(ngModel)]="customer.firstName" name="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" required [(ngModel)]="customer.lastName" name="lastName" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email"  required [(ngModel)]="customer.email" name="email" email #email="ngModel" >
        <mat-error *ngIf="email.invalid">not a valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number" [(ngModel)]="customer.phoneNumber" [pattern]="phoneNumberPattern" name="phoneNumber" >
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Address" [(ngModel)]="customer.address" name="address" ></textarea>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Zip Code" required [(ngModel)]="customer.zipCode" name="zipCode"  >
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
  </mat-card-content>
  <mat-card-actions align="end">    
    <button type="submit" mat-raised-button matStepperNext [disabled]="!myForm.form.valid">Next</button>
  </mat-card-actions>
  </form>
</mat-card>
